<%= form_with(model: user_datum, local: true) do |form| %>
  <% if user_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_datum.errors.count, "error") %> prohibited this user_datum from being saved:</h2>

      <ul>
      <% user_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_datum_email %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_datum_username %>
  </div>

  <div class="field">
    <%= form.label :encrypted_pass %>
    <%= form.text_field :encrypted_pass, id: :user_datum_encrypted_pass %>
  </div>

  <div class="field">
    <%= form.label :salt %>
    <%= form.text_field :salt, id: :user_datum_salt %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :user_datum_phone %>
  </div>

  <div class="field">
    <%= form.label :created_on %>
    <%= form.date_select :created_on, id: :user_datum_created_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
